body {
    min-width: 700px;
    min-height: 600px;
}

main .container {
    max-width: 100%;
    padding: 0;
}

.embedded-container {
    padding: 15px;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.d-grid button {
    margin: 0px 20px 0px 20px;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 0.25rem 0.4rem;
    font-size: 0.875rem;
    line-height: 0.8;
    border-radius: 0.2rem;
}

#pills-tab .nav-item:not(:last-child) {
    border-right: 1px solid #c8c8c8;
}

#pills-tab .nav-link:not(.active) {
    background-color: #e4e4e4;
}

.offcanvas-start {
    width: 250px;
}

.bg-light {
    background-color: #00204f59 !important;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.9) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #00204f59 !important;
}

.nav-fill .nav-item,
.nav-fill > .nav-link {
    flex: 1 1 auto;
    text-align: start;
}

.nav-item > .nav-link,
.dropdown-menu .nav-link {
    padding-left: 20px;
}

.dropdown-menu .nav-link.active {
    color: rgba(0, 0, 0, 0.55) !important;
    background-color: unset !important;
}

.tab-content {
    width: 100%;
}

.tab-pane .container {
    padding-left: 20px;
}

.tab-pane .container .row {
    padding-top: 20px;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.align-left {
    float: left;
}

.content-right {
    text-align: right;
}

.content-center {
    text-align: center;
}

.hidden {
    display: none;
}

#update-field-inputs-container {
    display: none;
}

.loading-container {
    display: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    left: 0px;
    opacity: 0.5;
    background-color: rgb(167, 167, 167);
    filter: alpha(opacity=50);
}

.overlay .spinner-border {
    position: absolute;
    top: 40%;
    width: 3rem;
    height: 3rem;
    z-index: 20;
}

.file-selector {
    padding-right: 0;
}

.template-preview-container {
    display: none;
}

.template-editor-container {
    padding: 0px 10px 10px 10px;
}

#template-json-editor {
    max-height: 360px;
}

#security-table-container {
    height: 415px;
    border: 1px #6c757d solid;
}

#results-viewer-table-container {
    max-height: 385px;
    max-width: 675px;
    border: 1px #6c757d solid;
}

.results-viewer-record-count-label {
    margin-top: 5px;
    font-style: italic;
}

.sticky-header table {
    border-collapse: separate;
    border-spacing: 0;
}

.contains-component {
    text-align: center;
    vertical-align: middle;
}

.list-group-container {
    padding-right: 5px;
    margin-right: 20px;
    max-height: 375px;
    overflow-y: scroll;
}

.security-role-list-item {
    word-wrap: break-word;
}

.table-important.table-success {
    background-color: #d1e7dd !important;
}

.table-important.table-danger {
    background-color: #f8d7da !important;
}

.toast.bg-success {
    background-color: #d1e7dd !important;
}

.toast.bg-danger {
    background-color: #f8d7da !important;
}

.table-header.sticky-top {
    background-color: white;
}

.table-header-label {
    line-height: 30px;
}

.form-control-sm {
    border: 1px solid #ced4da;
    float: right;
}

code textarea {
    font-size: 14px !important;
}
